[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pdfquery = "*"
black = "*"
python-docx = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
